@import 'vars';
@import 'global';


    // start header
.topimage{
    max-width: 1400;
    min-height: 693px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    margin-bottom: 80px;
}
.header{
    min-height: 48px;
    margin-bottom: 71px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__menu{
    margin-top: 6px;
    &-btn{
        display: none;
        div{
            background-color: #000;
            width: 20px;
            height: 4px;
            margin: 4px;
        }
    }
    ul > li{
        display: inline-block;
    }
    ul li + li{
        margin-left: 26px;
    }
}
.header__menu a{
    font-size: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $yellow;
    text-transform: uppercase;
}
.header__menu li + li{
    a{
        color: #fff;
        &:hover{
            color: $yellow;
        }
    }
}
    // end header
    // start section slidertop
.slidertop__item{
    min-height: 427px;
    color: #fff;
    &-title{
        margin: 25px 0 30px 2px;
        max-width: 490px;
    }
    &-text{
        margin-bottom: 30px;
        margin-left: 2px;
        max-width: 425px;
    }
}
.slick-dots{
    text-align: left;
    bottom: -80px;
    li{
        width: 7px;
        height: 7px;
        margin: 0 ;
    }
    li + li{
        margin-left: 7px;
    }
}
.slick-dots li button:before{
    content:'';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a99a9e;
    padding: 0;
    margin: 0;
}

    // end section slidertop
    // start section welcome
.welcome{
    margin-bottom: 50px;
    &__title{
        text-align: center;
        font-size: 44px;
        color: #000;
        margin-bottom: 50px;
    }
    &__text{
        max-width: 443px;
        color: #000;
        font-size: 29px;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }
    }
    &__image{
        width: 190px;
        height: 198px;
    }
}
.welcome__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
}
.welcome__item{
    max-width: 163px;
    text-align: center;
    &-icons{
        display: inline-block;
        background-color: $purple;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 30px;
        img{
            margin-top: 25px;
        }
        img.icon1{
            margin-top: 20px;
            margin-right: 3px;
        }
    }
    &-title{
        font-size: 15px;
        color: $purple;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &-text{
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 35px;
        color: #000;
    }
}
    // end section welcome
    // start section projects
.projects{
    overflow: hidden;
    margin-bottom: 80px;
    &__title{
        font-size: 44px;
        text-align: center;
        margin-bottom: 46px;
    }
}
.projects__inner{
    display: flex;
}
.projects__item{
    width: 25%;
    background-color: #efefef;
    &-img{
        width: 100%;
        margin-bottom: 45px;
    }
    &-title{
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 15px;
        padding-left: 42px;
    }
    &-text{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
        padding-left: 42px;
        padding-right: 33px;
    }
    a{
        color: #000;
        background-color: #fff;
        margin-bottom: 45px;
        margin-left: 42px;
        width: 161px;
    }
}
.projects__item:hover{
    background-color: $yellow;
    a{
        color: #fff;
        background-color: $purple;
    } 
}

    // end section projects
    // start section plan
.plan{
    margin-bottom: 90px;
}
.plan__inner-title{
    font-size: 44px;
    margin-bottom: 40px;
    text-align: center;
}
.plan__inner{
    display: flex;
    justify-content: space-between;
}
.plan__item{
    max-width: 207px;
    width: 100%;
    text-align: center;
    &-title,
    &-price{
        font-size: 15px;
        margin-bottom: 20px;
    }
    &-price{
        color: #9d9d9d;
    }
    &-text{
        font-size: 10px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    & a{
        width: 80px;
        height: 28px;
        padding: 9px 10px;
    }
}
    // end section plan
    // start section video
.video{
    padding: 80px 0px 110px 0px;
    background-color: $purple;
    &__title{
        margin-bottom: 40px;
        font-size: 44px;
        color: #fff;
        text-align: center;
    }
    &__slider-item{
        max-width: 726px;
        padding: 18px;
    }
}
.video__item-content{
    max-width: 690px;
}
.video__sub{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 15px;
    &-title{
        max-width: 70px;
        width: 100%;
        text-transform: uppercase;
        font-size: 10px;
    }
    &-time{
        max-width: 30px;
        width: 100%;
        text-align: right;
        font-size: 10px;
    }
}
    // end section video
    // start section team
.team{
    padding: 75px 0 135px;
    &__title{
        font-size: 44px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.team__item{
    max-width: 178px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    &-images{
        width: 173px;
        height: 173px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto 30px;
    }
    &-link{
        display: none;
    }
    &-name{
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase
    }
    &-position{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #9d9d9d;
    }
}
.team__item:hover{
    .team__item-link{
        padding: 0 20px;
        margin: 0 auto;
        width: 173px;
        height: 173px;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(98, 73, 124, .79);
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 2px;
    }
}
    // end section team
    // start section sliderbottom
.sliderbottom{
    padding: 75px 0 110px;
    background-color: #efefef;
    &__title{
        font-size: 44px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__item{
        max-width: 694px;
        min-height: 429px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__nav{
        margin-top: 6px;
        &-item{
            max-width: 111px;
            min-height: 69px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.sliderbottom__nav{
    padding: 0 45px;
}
.slick-slide{
    width: 125px;
}
button.slick-prev.slick-arrow, 
button.slick-next.slick-arrow{
    width: 30px;
    height: 69px;
    bottom: -110px;
    top: auto;
    background-color: #2a2a2a;
    z-index: 2;
}
.slick-prev.slick-arrow{
    left: 0px;
}
.slick-next.slick-arrow{
    right: 0px;
}
.slick-prev.slick-arrow:hover,
.slick-next.slick-arrow:hover{
    background-color: $purple;
}
.slick-prev:before{
    background-image: url(../images/icons/leftarrow.png);
    left: 10px;
}
.slick-next:before{
    background-image: url(../images/icons/rightarrow.png);
    right: 10px;
}
.slick-prev:before, 
.slick-next:before{
    content: '';
    width: 9px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 28px;
}
    // end section sliderbottom
    // start newsletter
.newsletter{
    max-width: 1400px;
    min-height: 329px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 57px 0 145px;
    &__title{
        font-size: 44px;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    &__form{
        form{
            display: flex;
            justify-content: center;
            input{
                display: block;
                max-width: 415px;
                width: 100%;
                height: 53px;
                border-radius: 2px;
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 19px;
                color: #000;
                padding: 0 15px;
                &::placeholder{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    color: #d8d8d8;
                }
            }
            button{
                display: block;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 10px;
                width: 132px;
                height: 53px;
                padding: 20px 20px;
                border-radius: 2px;
                background-color: $yellow;
                border: none;
                color: #000;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    background-color: $purple;
                    color: #fff;
                }
            }
        }
    }
}
    // end newsletter
    // start blog
.blog{
    padding: 70px 0 88px;
    &__title{
        font-size: 44px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.blog__item{
    max-width: 206px;
    width: 100%;
    text-align: center;
    &-image{
        max-width: 206px;
        height: 111px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
    }
    &-title{
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    &-date{
        font-size: 13px;
        margin-bottom: 20px;
    }
    &-text{
        font-size: 13px;
        padding: 0 10px;
        margin-bottom: 30px;
    }
    a{
        background-color: #ececec;
        &:hover{
            background-color: $yellow;
            color: #000;
        }
    }
}
    // end blog
    // start contact
.contact{
    &__inner{
        display: flex;
        justify-content: center;
    }
}
.contact__map{
    width: 50%;
    img{
        width:100%;
    }  
}
.contact__form{
    width: 50%;
    padding: 40px 40px 50px 40px;
    background-color: $yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    &-title{
        font-size: 44px;
        margin-bottom: 20px;
    }
    form{
        width: 310px;
        label{
            margin-bottom: 10px;
            display: block;
            text-transform: uppercase;
        }
        input{
            display: block;
            margin-bottom: 20px;
            width: 100%;
            height: 42px;
            &.textarea{
                height: 145px;
            }
        }
        button{
            height: 42px;
            width: 100%;
            border: none;
            background-color: $purple;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 10px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
    // end contact
    // start footer
.footer{
    padding: 75px 0 115px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.footer__item{
    max-width: 207px;
    width: 100%;
    text-align: center;
    &-title{
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &-list{
        font-size: 13px;
        li{
           margin-bottom: 10px; 
            a{
                color: #000;
            }
        }
    }
    &-icons{
        width: 118px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        a{
            display: block;
            width: 30px;
            text-align: center;
            margin-top: 10px;
            img{

            }
        }
    }
}
    // end footer