@import 'vars';
@import 'global';


    // start header
.topimage{
    max-width: 1400;
    min-height: 693px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    margin-bottom: 80px;
}
.header{
    min-height: 48px;
    margin-bottom: 71px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__menu{
    margin-top: 6px;
    &-btn{
        display: none;
        div{
            background-color: #000;
            width: 20px;
            height: 4px;
            margin: 4px;
        }
    }
    ul > li{
        display: inline-block;
    }
    ul li + li{
        margin-left: 26px;
    }
}
.header__menu a{
    font-size: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $yellow;
    text-transform: uppercase;
}
.header__menu li + li{
    a{
        color: #fff;
        &:hover{
            color: $yellow;
        }
    }
}
    // end header
    // start section slidertop
.slidertop__item{
    min-height: 427px;
    color: #fff;
    &-title{
        margin: 25px 0 30px 2px;
        max-width: 490px;
    }
    &-text{
        margin-bottom: 30px;
        margin-left: 2px;
        max-width: 425px;
    }
}
.slick-dots{
    text-align: left;
    bottom: -80px;
    li{
        width: 7px;
        height: 7px;
        margin: 0 ;
    }
    li + li{
        margin-left: 7px;
    }
}
.slick-dots li button:before{
    content:'';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a99a9e;
    padding: 0;
    margin: 0;
}

    // end section slidertop
    // start section welcome
.welcome{
    margin-bottom: 50px;
    &__title{
        text-align: center;
        font-size: 44px;
        color: #000;
        margin-bottom: 50px;
    }
    &__text{
        max-width: 443px;
        color: #000;
        font-size: 29px;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }
    }
    &__image{
        width: 190px;
        height: 198px;
    }
}
.welcome__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
}
.welcome__item{
    max-width: 163px;
    text-align: center;
    &-icons{
        display: inline-block;
        background-color: $purple;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 30px;
        img{
            margin-top: 25px;
        }
        img.icon1{
            margin-top: 20px;
            margin-right: 3px;
        }
    }
    &-title{
        font-size: 15px;
        color: $purple;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &-text{
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 35px;
        color: #000;
    }
}
    // end section welcome